<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 sol-xs-2">
                    <div id="mySidenav" class="sidenav">
                        <a  class="closebtn" (click)="closeNav()">&times;</a>
                            <ol>
                                <a href="#"><div style="padding-left: 20px;" class="items"><li>cricket</li></div></a>
                                <a href="#"><div style="padding-left: 20px;" class="items"><li>football</li></div></a>
                                <a href="#"><div style="padding-left: 20px;" class="items"><li>Basketball</li></div></a>
                                <a href="#"><div style="padding-left: 20px;" class="items"><li>Hockey<li></div></a>
                            </ol>
                          </div>
    
                          <div id = "ham" style="padding: 20px;">
                              <span id = "hamb" (click)="openNav()">&#9776; </span>
                          </div>
                    </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <img class="pull-left img-responsive" src="./assets/download.jpg" alt="SAMPLE IMAGE">
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4">
                    <a href="#" ><h1 class="">Sports&nbsp;Requirement</h1></a>
                </div>
              </div>
              
              <p id = "username" style="padding: 5px;">Logged in as : USERNAME</p>
            </div>
        </div>      
    </nav>    
</header>
